{% extends 'base.html' %}
<!DOCTYPE html>
{% block content %}
<form method="POST" action="{% url 'password_form' %}" id="input-form">
    {% csrf_token %}
    <div>
        <span>Password Length:</span> <span>{{pass_form.password_length}}</span>
    </div>
    <div>
        <span>Lowercase Letters: </span> <span>{{pass_form.has_lower}}</span>
    </div>
    <div>
        <span>Uppercase Letters: </span> <span>{{pass_form.has_upper}}</span>
    </div>
    <div>
        <span>Digits: </span> <span>{{pass_form.has_digit}}</span>
    </div>
    <div>
        <span>Special Characters: </span> <span>{{pass_form.has_punctuation}}</span>
    </div>
</form>
{% endblock %}